In [11]:
# Global variable
x = 10

def modify_global():
    global x
    x = 20  # Modifying the global variable

modify_global()
print(x)  # Output: 20

20

In [13]:
def outer_function():
    x = 10  # Local variable in outer function
    
    def inner_function():
        nonlocal x  # Referring to the variable from the outer function
        x = 20      # Modifying it
        
    inner_function()
    print(x)  # Output: 20

outer_function()

20

In [15]:
def sum_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_natural_numbers(n-1)

print(sum_natural_numbers(5))  # Output: 15

15

In [17]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))  # Output: 120

120

In [19]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(6))  # Output: 8

8

In [21]:
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
    else:
        tower_of_hanoi(n-1, source, auxiliary, target)
        print(f"Move disk {n} from {source} to {target}")
        tower_of_hanoi(n-1, auxiliary, target, source)

tower_of_hanoi(3, 'A', 'C', 'B')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

In [27]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

print(gcd(48, 18))  # Output: 6

6

In [29]:
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)

print(sum_of_digits(123))  # Output: 6

6

In [31]:
check_even_odd = lambda x: 'Even' if x % 2 == 0 else 'Odd'

print(check_even_odd(4))  # Output: Even
print(check_even_odd(5))  # Output: Odd

Even
Odd

In [33]:
square = lambda x: x ** 2

print(square(5))  # Output: 25

25

In [35]:
larger = lambda x, y: x if x > y else y

print(larger(5, 10))  # Output: 10

10

In [37]:
data = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 30}, {'name': 'Doe', 'age': 20}]
sorted_data = sorted(data, key=lambda x: x['age'])

print(sorted_data)

[{'name': 'Doe', 'age': 20}, {'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 30}]

In [39]:
get_second_element = lambda x: x[1]

print(get_second_element((1, 2, 3)))  # Output: 2

2

In [41]:
words = ["apple", "hi", "bat", "ball"]
filtered_words = filter(lambda x: len(x) >= 4, words)

print(list(filtered_words))  # Output: ['apple', 'ball']

['apple', 'ball']

In [43]:
numbers = [15, 30, 5, 6, 10, 18]
divisible_by_3_and_5 = filter(lambda x: x % 3 == 0 and x % 5 == 0, numbers)

print(list(divisible_by_3_and_5))  # Output: [15, 30]

[15, 30]

In [45]:
temperatures_in_celsius = [0, 20, 30, 40]
temperatures_in_fahrenheit = map(lambda x: (x * 9/5) + 32, temperatures_in_celsius)

print(list(temperatures_in_fahrenheit))

[32.0, 68.0, 86.0, 104.0]

In [47]:
words = ["hello", "world", "python"]
capitalized_words = map(lambda x: x.capitalize(), words)

print(list(capitalized_words))

['Hello', 'World', 'Python']

In [49]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
sum_lists = map(lambda x, y: x + y, list1, list2)

print(list(sum_lists))  # Output: [5, 7, 9]

[5, 7, 9]

In [51]:
strings = ["task1", "task2", "task3"]
completed_tasks = map(lambda x: x + "_done", strings)

print(list(completed_tasks))

['task1_done', 'task2_done', 'task3_done']

In [53]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)

print(list(even_numbers))  # Output: [2, 4, 6]

[2, 4, 6]

In [55]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9]
prime_numbers = filter(is_prime, numbers)

print(list(prime_numbers))  # Output: [2, 3, 5, 7]

NameError: name 'math' is not defined

In [57]:
numbers = [1, -2, 3, -4, 5, -6]
positive_numbers = filter(lambda x: x >= 0, numbers)

print(list(positive_numbers))  # Output: [1, 3, 5]

[1, 3, 5]

In [59]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)

print(product)  # Output: 120

120

In [61]:
strings = ["Hello", " ", "World", "!"]
result = reduce(lambda x, y: x + y, strings)

print(result)  # Output: 'Hello World!'

Hello World!