In [1]:
# Packing a tuple
person = ("Alice", 30, "Engineer")

# Unpacking the tuple into individual variables
name, age, profession = person

print(name)        # Output: Alice
print(age)         # Output: 30
print(profession)  # Output: Engineer

Alice
30
Engineer

In [3]:
a = 5
b = 10

# Swapping using tuple unpacking
a, b = b, a

print("a:", a)  # Output: 10
print("b:", b)  # Output: 5

a: 10
b: 5

In [5]:
def sum_and_product(x, y):
    return x + y, x * y  # Returns two values

# Unpacking the returned values
sum_result, product_result = sum_and_product(4, 3)

print("Sum:", sum_result)        # Output: 7
print("Product:", product_result)  # Output: 12

Sum: 7
Product: 12

In [7]:
nested_tuple = (1, (2, 3), 4)

# Unpacking the nested tuple
a, (b, c), d = nested_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3
print(d)  # Output: 4

1
2
3
4

In [9]:
sequence = [1, 2, 3, 4, 5]

# Unpacking the sequence
head, *middle, tail = sequence

print(head)    # Output: 1
print(middle)  # Output: [2, 3, 4]
print(tail)    # Output: 5

1
[2, 3, 4]
5

In [11]:
# List (mutable)
mutable_list = [1, 2, 3]
mutable_list[0] = 100  # Modifying the list
print(mutable_list)  # Output: [100, 2, 3]

# Tuple (immutable)
immutable_tuple = (1, 2, 3)
try:
    immutable_tuple[0] = 100  # Attempting to modify tuple
except TypeError as e:
    print(f"Error: {e}")  # Output: TypeError: 'tuple' object does not support item assignment

[100, 2, 3]
Error: 'tuple' object does not support item assignment

In [13]:
# Mutable list
list1 = [1, 2, 3]
list2 = list1
print(id(list1))  # Memory address of list1
print(id(list2))  # Memory address of list2 (same as list1)

# Immutable tuple
tuple1 = (1, 2, 3)
tuple2 = tuple1
print(id(tuple1))  # Memory address of tuple1
print(id(tuple2))  # Memory address of tuple2 (same as tuple1)

2030707813824
2030707813824
2030730498752
2030730498752

In [15]:
# List (Mutable)
shopping_cart_list = ["apple", "banana", "cherry"]
shopping_cart_list.append("orange")
print(shopping_cart_list)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Tuple (Immutable)
shopping_cart_tuple = ("apple", "banana", "cherry")
try:
    shopping_cart_tuple.append("orange")
except AttributeError as e:
    print(f"Error: {e}")  # Output: Error: 'tuple' object has no attribute 'append'

['apple', 'banana', 'cherry', 'orange']
Error: 'tuple' object has no attribute 'append'

In [17]:
# List (Mutable)
lst = [1, 2, 3, 4, 5]
lst[1:3] = [100, 200]
print(lst)  # Output: [1, 100, 200, 4, 5]

# Tuple (Immutable)
tup = (1, 2, 3, 4, 5)
try:
    tup[1:3] = (100, 200)
except TypeError as e:
    print(f"Error: {e}")  # Output: TypeError: 'tuple' object does not support item assignment

[1, 100, 200, 4, 5]
Error: 'tuple' object does not support item assignment

In [19]:
# List (Mutable)
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)  # Output: [1, 2, 3, 4, 5, 6]

# Tuple (Immutable)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [21]:
# join()
words = ["Hello", "World"]
sentence = " ".join(words)
print(sentence)  # Output: "Hello World"

# split()
sentence = "Hello World"
words = sentence.split()
print(words)  # Output: ['Hello', 'World']

# strip()
text = "  Hello World  "
cleaned_text = text.strip()
print(cleaned_text)  # Output: "Hello World"

# find()
sentence = "Hello World"
position = sentence.find("World")
print(position)  # Output: 6

# replace()
text = "Hello World"
new_text = text.replace("World", "Python")
print(new_text)  # Output: "Hello Python"

Hello World
['Hello', 'World']
Hello World
6
Hello Python

In [23]:
def word_frequency(sentence):
    words = sentence.split()
    frequency = {}
    for word in words:
        frequency[word] = frequency.get(word, 0) + 1
    return frequency

sentence = "Hello hello world world world"
print(word_frequency(sentence))
# Output: {'Hello': 1, 'hello': 1, 'world': 3}

{'Hello': 1, 'hello': 1, 'world': 3}

In [25]:
def capitalize_and_reverse_case(s):
    return ' '.join([word.capitalize() if i == 0 else word.swapcase() for i, word in enumerate(s.split())])

sentence = "hello world"
print(capitalize_and_reverse_case(sentence))  # Output: "Hello WORLD"

Hello WORLD

In [27]:
def palindromic_substrings(s):
    palindromes = []
    for i in range(len(s)):
        for j in range(i+1, len(s)+1):
            substring = s[i:j]
            if substring == substring[::-1]:
                palindromes.append(substring)
    return palindromes

string = "madam"
print(palindromic_substrings(string))  # Output: ['m', 'a', 'd', 'a', 'm', 'madam']

['m', 'madam', 'a', 'ada', 'd', 'a', 'm']

In [29]:
import re

def extract_emails(text):
    pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
    return re.findall(pattern, text)

text = "Contact me at test@example.com and support@company.org"
print(extract_emails(text))  # Output: ['test@example.com', 'support@company.org']

['test@example.com', 'support@company.org']

In [31]:
squares = [x**2 for x in range(1, 11)]
print(squares)  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
string = "hello world"
vowels = "aeiou"
filtered = [char for char in string if char not in vowels]
print(filtered)  # Output: ['h', 'l', 'l', ' ', 'w', 'r', 'l', 'd']

['h', 'l', 'l', ' ', 'w', 'r', 'l', 'd']

In [35]:
primes = [x for x in range(1, 51) if all(x % i != 0 for i in range(2, x))]
print(primes)  # Output: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [37]:
keys = ["name", "age", "profession"]
values = ["Alice", 30, "Engineer"]
dictionary = {keys[i]: values[i] for i in range(len(keys))}
print(dictionary)  # Output: {'name': 'Alice', 'age': 30, 'profession':

{'name': 'Alice', 'age': 30, 'profession': 'Engineer'}